.main-container {
    background-color: #fbfbfb;

    .promotional {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
   

    .container-wrapper {
        width: 65%;
    }

    h4 {
        color: #083E9E;
        font-size: 24px;
        font-weight: 700;
    }

    p {
        font-weight: 700;
        font-size: 14px;
        color: #444;
    }

    img {
        width: 105px;
        height: 105px;
        // margin-bottom: -50px;
        margin-right: 50px;
    }
}

}