#container  {
    background: url('../../img/bg.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 80%;
    height: 70vh;
    top: -100px;


    h1 {
        font-weight: 700;
        color: #083E9E;
        width: 500px;
        padding-top: 150px;
        font-size: 54px;
    }

    .headline {
        color: #444;
        padding: 0px 10px;
        font-weight: 600;
        font-size: 16px;
    }

    .earn {
        color: #444;
        padding: 0px 10px;
        font-weight: 600;
        font-size: 16px;
    }

    .btn-large {
        padding: 0 20px;
        width: 280px;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 18px;
        background-color: #30c57b;
        border-radius: 5px;
    }

    .download {
        width: 130px;
        display: inline-block;
        padding-top: 40px;
        padding-left: 20px;
        margin: auto;
    }
}