.main-div {
    margin-top: 100px;
    margin-bottom: 60px;

    .headline {
        width: 60%;
        bottom: 40px;
        margin: auto;
        text-align: center;
        margin-bottom: 60px;
    
    
        .title {
            width: 80%;
            text-align: center;
            margin: auto;
            font-size: 34px;
            font-weight: 700;
            color: #083E9E;
        }

        .subtitle {
            margin: auto;
            width: 85%;
            font-weight: 700;
            padding: 20px;
            color: #627081;;
        }
    }
    
    .card {
        border-radius: 10px!important;
        height: 490px;

        .card-image {
            top: 30px;
        }
        
    
        .card-title {
            position: absolute;
            color: #083E9E!important;
            top: 220px!important;
            font-size: 34px!important;
            font-weight: 700;
        }
    
        .card-content {
            font-size: 14px;
            font-weight: 700;
            color: #616161;
            margin-top: 110px;
        }
        
        .img {
            position: relative;
            width: 360px!important;
            margin-top: 40px;
            margin: auto;
        }
    }
}






