.page-footer {
    border-top: 0.5px solid #e3f2fd;
    margin-top: 80px;
    padding-top: 60px;

    a {
        font-weight: 600;
    }

    .typo {
        font-weight: 600;
        font-size: 14px;
    }
    .typo2 {
        font-weight: 700;
        font-size: 18px;
    }
}